[Unit]
Description=Share USB devices with Raspberry Pi 4B

[Service]
Type=oneshot
# FIXME get the usb location dynamically!
ExecStart=/usr/sbin/usbip bind -b 9-4.3.4
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target