[Unit]
Description=Mega 2560 disintegration tracker
After=local-fs.target

[Service]
Type=simple
ExecStart=/home/dank/src/dankamongmen/counterforce/arduino/collect-cpm /dev/ttyACM1 /usr/local/var/lib/counterforce/cpm.rrd
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
WorkingDirectory=/home/dank/var/lib/rtorrent

[Install]
WantedBy=default.target
