[Unit]
Description=Linux disk tracker
Wants=local-fs.target
Wants=time-sync.target

[Service]
# needs be root to run nvme
User=root
Type=simple
ExecStart=/home/dank/src/dankamongmen/counterforce/workstation/disk-collect
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
WorkingDirectory=/home/dank/src/dankamongmen/counterforce

[Install]
WantedBy=default.target
