[Unit]
Description=Simple translator from mqtt messages to prometheus. Analog to pushgateway
Documentation=https://github.com/hikhvar/mqtt2prometheus
Before=prometheus.service

[Service]
Restart=always
User=prometheus
ExecStart=/usr/local/bin/mqtt2prometheus -config /usr/local/etc/mqtt2prometheus2.yaml -listen-port 9642
TimeoutStopSec=20s

[Install]
WantedBy=multi-user.target
