[Unit]
Description=Linux sensors tracker
Wants=local-fs.target
Wants=time-sync.target

[Service]
User=dank
Type=simple
ExecStart=/usr/local/sbin/sensors-collect
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
WorkingDirectory=/home/dank/src/dankamongmen/counterforce

[Install]
WantedBy=default.target
