# identify various devices by serial number

SUBSYSTEM=="tty" ATTRS{idVendor}=="2341" ATTRS{idProduct}=="0042" \
 ATTRS{serial}=="85734323330351D07122" SYMLINK+="tty-geiger"

SUBSYSTEM=="usb" ATTRS{idVendor}=="248a" ATTRS{idProduct}=="8367" \
 RUN+="/usr/sbin/usbip bind -b $kernel"
